span {
    text: {
        align: center;
    }

    font: {
        family: 'Helvetica';
        size: 30px;
    }

    border: {
        top: {
            style: dashed;

            left: {
                radius: 10px;
            }
        }
    }
}