$corBase: #3B5998;
$corFontePrincipal: #1D2129;
$corFonteDestaque:#FFFFFF;
$corFonteLink: #365899;
$corFonteSecundaria: #365899;
$corFundo: #E9EBEE; 
$corBorda: #CCC;
$corDivisor: #CCC;
$corFundoBoxes: #FFFFFF;
$corHoverPrincipal: #DDDFE2;
$tamanhoFonte: 12px;
$familiaFonte: helvetica,arial,sans-serif;

$corFundoDestaque: #deedf7;
$corBordaDestaque: #aed0ea;
$corTextoDestaque: #222222;
$corFundoConteudo: #f2f5f7;
$corBordaConteudo: #dddddd;
$corFundoHover: #e4f1fb;
$corBordaHover: #74b2e2;
$corTextoHover: #0070a3;
$corFundoAtivo: #3baae3;
$corBordaAtivo: #2694e8;
$corTextoAtivo: #ffffff;
$corFundoErro: #cd0a0a;
$corTextoErro: #ffffff;
$corSombra: #cccccc;

