// Variables Declaration Example  

$tamanhoFontePrincipal: 16px;
$fontePublicidade: Verdana;
$tamanhoMargem: 1%;
$estiloBorda: dashed;
$alinhamentoTexto: left;
$iconeSalvar: "save.png";
$iconeFechar: url("url da imagem");
$bordaFocus: 1px solid #0096ED;
$fontePrincipal: "Trebuchet MS", Verdana, Arial, serif;

